@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@theme {
  /* Neutral */

  --color-neutral-900: #163a34;
  --color-neutral-600: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-300: #d0dcd9;
  --color-neutral-100: #f6f5f1;
  --color-neutral-0: #ffffff;

  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;
  --font-nunito: "Nunito", sans-serif;
  --rounded-sm: 4px;
}
@layer components {
  .navLink {
    @apply relative border-2 border-transparent text-[18px] leading-[150%] font-semibold tracking-[.3px] group-focus:rounded-sm group-focus:border-current;
  }
}
@layer utility {
  h1 {
    @apply text-[52px] leading-[1.1] font-extrabold tracking-[-2px] md:text-[64px] lg:text-[72px];
  }

  h2 {
  }
}

body {
  font-family: var(--font-nunito);
  background-color: var(--color-neutral-100);
}
